# Salin file ini menjadi ".env" lalu sesuaikan nilainya.
# JANGAN commit file .env ke repository!

# --- Aplikasi ---
APP_PORT=3000
NODE_ENV=production

# --- Database PostgreSQL ---
POSTGRES_USER=uasuser
POSTGRES_PASSWORD=uaspassword123
POSTGRES_DB=uasdb
POSTGRES_PORT=5432
